body {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1 {
  text-align: center;
  margin: 0 15%;
}
header a img {
  width: auto;
  height: 80px;
}
header img {
  height: 100px;
  width: auto;
}
section {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  width: 50%;
}
section article p,
section article label {
  font-size: 1.5em;
}
section article input[name='buscar'] {
  font-size: 1em;
  height: 30px;
  width: 300px;
}
section article input[name="aceptar"] {
  margin-left: 10px;
  height: 40px;
  width: 100px;
}
section article div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
section article:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
section article:last-child select {
  width: 250px;
  height: 50px;
  font-size: 1.2em;
}
section article:last-child select option {
  font-size: 1em;
}
